 @model IEnumerable<InvoicesProject.Models.NWC_Subscription_File>


<h1>قائمة الاشتراكات</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">انشاء اشتراك</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_FileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_File_Subscriber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Rreal_Estate_Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_File_Unit_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_File_Is_There_Sanitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_File_Last_Reading_Meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Subscription_File_Reasons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NWC_Subscription_FileID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Subscriber.NWC_Subscriber_FileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Rreal_Estate_Types.NWC_Rreal_Estate_TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Unit_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Is_There_Sanitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Last_Reading_Meter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Reasons)
            </td>
            <td>
                <a asp-action="Edit"   class="btn btn-primary"   asp-route-id="@item.NWC_Subscription_FileID">تعديل</a>
                <a asp-action="Details"class="btn btn-secondary" asp-route-id="@item.NWC_Subscription_FileID">تفاصيل</a>
                <a asp-action="Delete" class="btn btn-danger"    asp-route-id="@item.NWC_Subscription_FileID">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
