@model InvoicesProject.Models.NWC_Invoice


<h1>تفاصيل الفاتورة</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Rreal_Estate_TypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Rreal_Estate_TypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Subscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscription.NWC_Subscription_FileID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoices_Subscriber_file)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoices_Subscriber_file.NWC_Subscriber_FileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Previous_Consumption_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Previous_Consumption_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Current_Consumption_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Current_Consumption_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Amount_Consumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Amount_Consumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Service_Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Service_Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Tax_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Tax_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Is_There_Sanitation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Is_There_Sanitation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Consumption_Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Consumption_Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Wastewater_Consumption_Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Wastewater_Consumption_Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Total_Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Total_Invoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Tax_Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Tax_Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Total_Bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Total_Bill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Invoice_Total_Reasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Invoice_Total_Reasons)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.NWC_InvoiceID">تعديل</a> 
    <a class="btn btn-primary" asp-action="Index">قائمة الفواتير</a>
    <a class="btn btn-danger" asp-action="PrintPDF" >تنزيل PDF</a>
</div>
